<div class="blog-title">  
  <div id="bt1" class="hero-title global-title-huge global-title-offset">
    <a href="https://www.helmm.com/lifeathelmm/"> <span id="dynamic-hero-word" class="typing-animation-hero">Life</span> at Helmm</a>
  </div>
</div>
