<div class="blog-breadcrumb-wrapper-23">
  <a href="https://www.helmm.com/lifeathelmm" class="breadcrumb-link">Home</a>
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" class="breadcrumb-arrow">
    <path d="M3.33331 8H12.6666" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M8 3.33333L12.6667 8L8 12.6667" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
  <a href="https://www.helmm.com/lifeathelmm/{{primary_tag.slug}}" class="breadcrumb-link">{{primary_tag.name}}</a>
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" class="breadcrumb-arrow">
    <path d="M3.33331 8H12.6666" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M8 3.33333L12.6667 8L8 12.6667" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
  <span class="breadcrumb-current">{{title}}</span>
</div>
