	<footer class="helmm-footer">
	  <div class="left-column">
	    <a class="helmm-wordmark" href="https://www.helmm.com/"><img src="https://www.helmm.com/assets/helmm-wordmark-7f0f0138a9b4cc7ec676f2264cede9a3c07aded180abfac65a95f3950c3c4f61.svg" alt="Helmm wordmark"></a>

	    <ul>
	      <li><a class="page-link" href="https://www.helmm.com/products">Products</a></li>
	      <li><a class="page-link" href="https://www.helmm.com/scents">Scents</a></li>
	      <li class="desktop_text"><a class="page-link" href="https://www.helmm.com/why-helmm">Why Helmm?</a></li>
	      <li><a class="page-link" href="https://www.helmm.com/reviews">Reviews</a></li>
				<li class="helmm-log-in-user" style="display: none;"><a class="page-link" href="https://www.helmm.com/account">My Account</a></li>
	        <li class="helmm-log-out-user"><a href="https://www.helmm.com/login" class="page-link">Sign In</a></li>
	        <li class="helmm-log-out-user"><a href="https://www.helmm.com/signup" class="page-link">Join</a></li>
	      <li class="desktop_text">
	        <a class="page-link" href="https://www.lifeatthehelmm.com/our-story/" target="_blank">Life At The Helmm</a>
	      </li>
	      <li><a class="page-link" href="https://www.helmm.com/privacy-policy">Privacy Policy</a></li>
	      <li><a class="page-link" href="https://www.helmm.com/tos">Terms of Service</a></li>
	      <li><a class="page-link" href="https://www.helmm.com/help">Help</a></li>
	    </ul>

	    <p class="copyright">© 2024 Helmm All Rights Reserved.</p>

	    <p class="copyright paragraph">
	      All trademarks, products and logos displayed on Helmm's website are the trademarks of their respective owners, and are not intended to represent sponsorship, endorsement, recommendation, or affiliation with Helmm. In addition, such use of trademarks or links to the web sites of third-party organizations is not intended to imply, directly or indirectly, that those organizations endorse or have any affiliation with Helmm.
	    </p>


	  </div>


	</footer>