<div id="be1" class="hero-section">
	<div class="hero-wrap">
		{{#if @site.description}}
			<p id="be2" class="hero-description global-subtitle-excerpt">Magazine of knowledge about Deodorant, Sweat, Science, and Adventure</p>
		{{/if}}
	</div>
</div>