	<header id="masthead" class="nav-blue site-header" role="banner" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
	<div id="main-nav" class="headroom headroom--top headroom--not-bottom">

   <div class="overlay"></div>

  <nav class="mobile-nav">
    <div class="bar"></div>
    <div class="nav-wrapper">
      <input class="nav-toggle filled" data-id="nav-toggle" type="checkbox">

			<div class="burger-menu">
			  <span></span>
			  <span></span>
			  <span></span>
			</div>
      <a class="helmm-wordmark" href="https://www.helmm.com/"><img src="https://helmm.s3.amazonaws.com/product/helmm-wordmark-blue.svg" alt="Helmm wordmark"></a>
      <a class="cart-button" href="https://www.helmm.com/cart">
        <img src="https://helmm.s3.amazonaws.com/product/cart-icon-blue.svg" alt="Cart icon blue">
        <div style="display: none;" class="cart-count">
        </div>
			</a>

      <div class="mobile-menu-overlay">
        <div class="mobile-menu">
          <ul>
							<li class="helmm-log-out-user"><a href="https://www.helmm.com/login" class="nav-page-link">Sign In</a></li>
              <li class="helmm-log-in-user" style="display: none;"><a class="nav-page-link" href="https://www.helmm.com/account">Account</a></li>
							<li><a class="nav-page-link" href="https://www.helmm.com/products">Products</a></li>
							<li><a class="nav-page-link" href="https://www.helmm.com/scents">Scents</a></li>
							<li><a class="nav-page-link" href="https://www.helmm.com/reviews">Reviews</a></li>
							<li><a class="nav-page-link locator-page-link" href="https://www.helmm.com/store-locator">
							  Now At
							  <img class="locator-page-icon-blue" src="https://helmm.s3.amazonaws.com/product/saks_logo_blue.png" alt="Saks logo blue">
							</a></li>

          </ul>
        </div>
      </div>
    </div>
  </nav>

  <nav class="checkout-nav">
    <div class="nav-wrapper">
      <a class="helmm-wordmark" href="https://www.helmm.com/"><img src="https://helmm.s3.amazonaws.com/product/helmm-wordmark-blue.svg" alt="Helmm wordmark blue"></a>

      <a class="cart-link" href="https://www.helmm.com/cart">
        <img src="https://helmm.s3.amazonaws.com/product/cart-icon-blue.svg" alt="Cart icon blue">
          <div style="display: none;" class="cart-count">
          </div>
				</a>
		 </div>
  </nav>

  <nav class="desktop-nav">
    <div class="nav-wrapper">
        <ul class="left-nav">
          <li><a class="nav-page-link" href="https://www.helmm.com/products">Products</a></li>
          <li><a class="nav-page-link" href="https://www.helmm.com/scents">Scents</a></li>
          <li><a class="nav-page-link" href="https://www.helmm.com/reviews">Reviews</a></li>
        </ul>
        <ul class="wordmark">
          <li>
            <a class="helmm-wordmark" href="https://www.helmm.com/"><img src="https://helmm.s3.amazonaws.com/product/helmm-wordmark.svg" alt="Helmm wordmark"></a>
            <a class="helmm-wordmark-blue" href="/"><img src="https://helmm.s3.amazonaws.com/product/helmm-wordmark-blue.svg" alt="Helmm wordmark blue"></a>
          </li>
        </ul>
        <ul class="right-nav">
            <li>
              <a href="https://www.helmm.com/store-locator" class="nav-page-link locator-page-link">
                Now At
                <img class="locator-page-icon cart-icon" src="https://helmm.s3.amazonaws.com/product/saks_logo_white.png" alt="Saks logo white">
                <img class="locator-page-icon-blue cart-icon-blue" src="https://helmm.s3.amazonaws.com/product/saks_logo_blue.png" alt="Saks logo blue">
              </a>
            </li>
						<li class="helmm-log-out-user"><a href="https://www.helmm.com/login" class="nav-page-link">Sign In</a></li>
            <li class="helmm-log-in-user" style="display: none;"><a href="https://www.helmm.com/account" class="nav-page-link">account</a></li>
          <li>
            <a class="cart-button" href="https://www.helmm.com/cart">
              <img class="cart-icon" src="https://helmm.s3.amazonaws.com/product/cart-icon.svg" alt="Cart icon">
              <img class="cart-icon-blue" src="https://helmm.s3.amazonaws.com/product/cart-icon-blue.svg" alt="Cart icon blue">
                <div style="display: none;" class="cart-count">
                </div>
							</a>
						</li>
        </ul>
    </div>
  </nav>
</div>

